{% extends '../../layout/_base.twig' %}

{% set title = "Flexbox" %}

{% block content %}
<header>header</header>

<div id="main">
	<article>article</article>
	<nav>nav</nav>
	<aside>aside</aside>
</div>

<footer>footer</footer>
{% endblock %}


{% block script %}
<script type="text/javascript" src="/inc/js/lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/inc/js/script.js"></script>
{% endblock %}