      <footer>
        <a href="/" id="pageTop"><i class="fa fa-long-arrow-up fa-3x" aria-hidden="true"></i></a>
        <small class="copyright">Copyright &copy; xxxxxx Inc. All rights reserved.</small>
      </footer>
      <!-- /footer -->
