
        <nav id="gnavi">
          <ul>
            <li><a{% if currentID |length > 0 and currentID == "1" %} class="current"{% endif %} href="/">メニュー1</a></li>
            <li><a{% if currentID |length > 0 and currentID == "2" %} class="current"{% endif %} href="/">メニュー2</a></li>
            <li><a{% if currentID |length > 0 and currentID == "3" %} class="current"{% endif %} href="/">メニュー3</a></li>
            <li><a{% if currentID |length > 0 and currentID == "4" %} class="current"{% endif %} href="/">メニュー4</a></li>
            <li><a{% if currentID |length > 0 and currentID == "5" %} class="current"{% endif %} href="/">メニュー5</a></li>
          </ul>
        </nav>
