<header>
  {% if pageId == 'top' %}<h1>{% endif %}<a href="/" class="logo"><img src="https://placehold.jp/200x70.png" alt="{{siteName}}"></a>{% if pageId == 'top' %}</h1>{% endif %}
  {% include ('../include/_gnavi.twig') %}
</header>
<!-- /header -->
